#div1{
    /* border: 2px solid red; */
    height: 350px;
    width: 280px;
    background-color: lightblue;
    margin-left: 42%;
    margin-top: 40px;

}
#div1 h1{
    border-bottom: 2px solid;
}
#form{
    text-transform: uppercase;
   
    text-shadow: 2px;
    font-size: 20px;
    line-height: 30px;
    /* display: flex; */
    /* flex-direction: column; */
    margin-left: 20px;
    
   
}

